<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Table</title>
</head>
<body>

<h2>Car Table</h2>
<div>
    <table border = "1">
        <thead>
        <tr>
            <th>Марка</th>
            <th>Серия</th>
            <th>Максимальная скорость</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="car : ${cars}">
            <td th:text="${car.model}">Toyota</td>
            <td th:text="${car.seriez}">we23</td>
            <td th:text="${car.maxSpeed}">203</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>